<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <title>Master 4.0 - monitoring</title>
    <style>
        #aktivna {background-color: aqua;}
        #neaktivna {background-color:rgb(255, 76, 6);}
    </style>
</head>
<body>
<div >
    <h1 style="text-align: center;">Master 4.0 - zauzetost radnih stanica</h1>
</div>
    <table id="adrese">
        <thead>
            <tr>
                <th>Radna stanica</th>
                <th>Adresa i port</th>
                <th>Status</th>
            </tr>
        </thead>
            
        <tbody>
            
            <tr>
                <td>Radna stanica 1</td>
                <td>master4ws.unic.kg.ac.rs:4001</td>
                {% if status['147.91.200.59:4001']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4001'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4001'] }}</td>
                {% endif %}
            </tr>  
            
            <tr class="alt">
                <td>Radna stanica 2</td>
                <td>master4ws.unic.kg.ac.rs:4002</td>
                {% if status['147.91.200.59:4002']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4002'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4002'] }}</td>
                {% endif %}
            </tr>  
            
            <tr>
                <td>Radna stanica 3</td>
                <td>master4ws.unic.kg.ac.rs:4003</td>
                {% if status['147.91.200.59:4003']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4003'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4003'] }}</td>
                {% endif %}
            </tr>  
            
            <tr class="alt">
                <td>Radna stanica 4</td>
                <td>master4ws.unic.kg.ac.rs:4004</td>
                {% if status['147.91.200.59:4004']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4004'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4004'] }}</td>
                {% endif %}
            </tr>  
            
            <tr>
                <td>Radna stanica 5</td>
                <td>master4ws.unic.kg.ac.rs:4005</td>
                {% if status['147.91.200.59:4005']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4005'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4005'] }}</td>
                {% endif %}
            </tr>  
            
            <tr class="alt">
                <td>Radna stanica 6</td>
                <td>master4ws.unic.kg.ac.rs:4006</td>
                {% if status['147.91.200.59:4006']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4006'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4006'] }}</td>
                {% endif %}
            </tr>  
            
            <tr>
                <td>Radna stanica 7</td>
                <td>master4ws.unic.kg.ac.rs:4007</td>
                {% if status['147.91.200.59:4007']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4007'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4007'] }}</td>
                {% endif %}
            </tr>  
            
            <tr class="alt">
                <td>Radna stanica 8</td>
                <td>master4ws.unic.kg.ac.rs:4008</td>
                {% if status['147.91.200.59:4008']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4008'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4008'] }}</td>
                {% endif %}
            </tr>  
            
            <tr>
                <td>Radna stanica 9</td>
                <td>master4ws.unic.kg.ac.rs:4009</td>
                {% if status['147.91.200.59:4009']=="aktivna"%}
                <td id="aktivna">{{ status['147.91.200.59:4009'] }}</td>
                {% else %}
                <td id="neaktivna">{{ status['147.91.200.59:4009'] }}</td>
                {% endif %}
            </tr>  
                                                            
        </tbody>
            
    </table>
    <br>
    <div style='background-color: #807a7a'>
        <br>
        <h2 style="text-align: center;">Podaci o korisnicima</h2>
       <br>
    </div>
    <table id="adrese">
        <thead>
            <tr>
                <th>Ime i prezime</th>
                <th>Br. indeksa</th>
                <th>Link</th>
                <th>Korisničko ime</th>
            </tr>
        </thead>
        <tbody>
        <tr><td>Nikola Aksentijević </td><td>12/2020</td><td>master4ws.unic.kg.ac.rs:4006</td><td>nikola.aksentijevic</td></tr>
        <tr><td>Stefan Adamović </td><td>21/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>stefanadamovic</td></tr>
        <tr><td>Nebojša Adamović</td><td> 3/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>adamovicn48</td></tr>
        <tr><td>Stefan Pendić</td><td>10/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>stefan.pendic94</td></tr>
        <tr><td>Nemanja Popović</td><td> 9/2020</td><td>master4ws.unic.kg.ac.rs:4005</td><td>popovicnemanja97</td></tr>
        <tr><td>Nikola Berković </td><td>22/2020</td><td>master4ws.unic.kg.ac.rs:4002</td><td>nikolabrekovic</td></tr>
        <tr><td>Aleksandar Nećakov </td><td>20/2020</td><td>master4ws.unic.kg.ac.rs:4008</td><td>aleksandar.necakov</td></tr>
        <tr><td>Petar Đokić </td><td>13/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>petar.designer</td></tr>
        <tr><td>Vukašin grujić </td><td>19/2020</td><td>master4ws.unic.kg.ac.rs:4007</td><td>vule.grujic</td></tr>
        <tr><td>Andreja Kocić  </td><td>15/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>andrejakocic</td></tr>
        <tr><td>Marija Đurović </td><td>11/2020</td><td>master4ws.unic.kg.ac.rs:4001</td><td>marija.djurovic.996</td></tr>
        <tr><td>Robert Brusnjai </td><td>18/2020</td><td>master4ws.unic.kg.ac.rs:4002</td><td>robee021</td></tr>
        <tr><td>Miloš Dodić </td><td>17/2020</td><td>master4ws.unic.kg.ac.rs:4008</td><td>milos.m.dodic</td></tr>
        <tr><td>Branko Šulović</td><td> 8/2020</td><td>master4ws.unic.kg.ac.rs:4001</td><td>brankosulovic</td></tr>
        <tr><td>Jovana Gavrilović</td><td> 6/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>jovanagavrilovic120897</td></tr>
        <tr><td>Mihajlo Savić</td><td> 4/2020</td><td>master4ws.unic.kg.ac.rs:4005</td><td>mihaten</td></tr>
        <tr><td>Stefan Sekulić</td><td> 7/2020</td><td>master4ws.unic.kg.ac.rs:4004</td><td>sef.ciid</td></tr>
        <tr><td>Savo Jovanović </td><td>14/2020</td><td>master4ws.unic.kg.ac.rs:4007</td><td>savoj96</td></tr>
        <tr><td>Nikola Radovanović</td><td> 1/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>vaynetooop</td></tr>
        <tr><td>Stefan Đorđević</td><td>16/2020</td><td>master4ws.unic.kg.ac.rs:4003</td><td>steffan_x</td></tr>
        <tr><td>Tamara Kenić</td><td> 2/2020</td><td>master4ws.unic.kg.ac.rs:4006</td><td>tamarak96</td></tr>
        <tr><td>Đorđe Jevđenović</td><td> 5/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>djordje.jevdjenovic</td></tr>
        <tr><td>Miša Minić </td><td>23/2020</td><td>master4ws.unic.kg.ac.rs:4003</td><td>misaminic</td></tr>
        <tr><td>Marko Matović</td><td>24/2020</td><td>master4ws.unic.kg.ac.rs:4004</td><td>desertfox.kg</td></tr>
        <tr><td>Srđan Stevanović</td><td>25/2020</td><td>master4ws.unic.kg.ac.rs:4009</td><td>srdjan.stevanovic</td></tr>
        </tbody>
        </table>
     
        <div>
            <h3 style="text-align: center;"><a href="http://unic.kg.ac.rs">Univerzitetski informatički Centar</a></h3>
            <h3 style="text-align: center;"><a href="http://www.kg.ac.rs">UNIVERZIET U KRAGUJEVCU</a></h3>
        </div>

</body>


</html>